{#
/**
 * @file
 * Custom field template for the hero link.
 *
 * Available variables:
 * - items: List of items for this field.
 * - attributes: HTML attributes for the field wrapper.
 * - label_hidden: Whether to display the label.
 * - title_attributes: HTML attributes for the label.
 * - label: The label for the field.
 */
#}

<div{{ attributes.addClass('hero-link-wrapper') }}>
  {% if not label_hidden %}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}

  {% for item in items %}
    <a href="{{ item.content['#url'] }}" class="btn btn-primary">
      {{ item.content['#title'] }}
    </a>
  {% endfor %}
</div>
