<section class="cases-lawyer">
  <div class="container">
    <div class="cases-lawyer-wrapp">
    <h2>{{ paragraph.field_title.value }}</h2>
    </div>

<div class="cases-lawyer-list d-grid">

{% for item in paragraph.field_legal_lawyer_list %} 
  {% set lawyer = item.entity %}
        <div class="lawyer-item">
     {% if lawyer.field_image_lawyer is not empty %}
  <div class="lawyer-image">
    <img src="{{ lawyer.field_image_lawyer|file_url }}" alt="{{ lawyer.field_image_lawyer.alt }}">
  </div>
{% endif %}
          <div class="lawyer-name">{{ lawyer.label }}</div>
          <div class="lawyer-occupation">
            {{ lawyer.field_occupation.value }}
          </div>
        </div>
      {% endfor %}
      
    </div>






  </div>
  </section>