<section class="home-news">
  <div class="container">
    <div class="section-title">
      <h4>{{ paragraph.field_before_title.value }}</h4>
      <h2>{{ paragraph.field_title.value }}</h2>
    </div>

    <div class="home-news-list d-grid cols-3">
      {% for item in paragraph.field_news_home %}
        {% set news = item.entity %}

       

        <div class="news-item">

           

           {% if news.field_image is not empty %}
            <div class="news-image">
               <img src="{{ news.field_image|file_url }}" alt="{{ news.field_image.alt }}">
            </div>
         {% endif %}

          {# Title #}
          <h3 class="news-title">
            <a href="{{ path('entity.node.canonical', {'node': news.id}) }}">
              {{ news.label }}
            </a>
          </h3>

          {# Button #}
          <div class="see-more">
            <a href="{{ path('entity.node.canonical', {'node': news.id}) }}" class="btn btn-secondary">
              See Detail
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
