{%
  set classes = [
    'proffi-lawyer',
  ]
%}
<section{{ create_attribute().addClass(classes) }}>
  <div class="container testare">
    <div class="proffi-lawyer-wrapp d-flex">
    <h2>{{ paragraph.field_title.value }}</h2>
    {{ content.field_link_simple }}
    </div>

<div class="service-lawyer-list d-grid cols-3">

{% for item in paragraph.field_legal_lawyer_list %} 
  {% set lawyer = item.entity %}
        <div class="lawyer-item">
     {% if lawyer.field_image_lawyer is not empty %}
  <div class="lawyer-image">
    <img src="{{ lawyer.field_image_lawyer|file_url }}" alt="{{ lawyer.field_image_lawyer.alt }}">
  </div>
{% endif %}
          <div class="lawyer-name"><h4>{{ lawyer.label }}</h4></div>
          <div class="lawyer-occupation">
            {{ lawyer.field_occupation.value }}
          </div>
        </div>
      {% endfor %}
      
    </div>






  </div>
  </section>