{%
  set classes = [
    'contact',
  ]
%}
<section{{ create_attribute().addClass(classes) }}>
<div class="container">
<div class="contact-wrapp d-grid cols-2">
    <div class="contact-item">
     <h2>{{ paragraph.field_title.value }}</h2>
     {{content.field_contact_form}}
    </div>
    <div class="contact-item">
    {{content.field_contact_map}}
    </div>
</div>
<div class="contact-bottom d-flex">
{{content.field_icon_list}}
</div>
</div>
</section>