<article{{ attributes.addClass('lawyer-node') }}>
<div class="container">

    <div class="d-grid cols-2">
        <div class"lawyer-item">
         {{content.field_image_lawyer}}
         </div>
         <div class"lawyer-item">
           <h2>{{content.field_occupation}}</h2>
           {{content.field_lawyer_text}}
           <div class="lawyer-stats d-flex">
           {{content.field_lawyer_stats}}
           </div>
         </div>
    
    </div>
</div>

</article>