<article{{ attributes.addClass('services-node') }}>
  
  <div class="container">

     <div class="article-img">
     {{content.field_image_service}}
     </div>
    {{ content.field_service_description }}
    {{content.field_service_price}}
    {{content.field_service_link}}

    </div>
</article>