{# /**
 * @file
 * Theme override to display a single Drupal page.
 */ #}

{{ include('@dnorthman/layout/header.html.twig') }}

{% if page.heading %}
  <div class="heading-region">
    {{ page.heading }}
  </div>
{% endif %}

{% if page.content_top %}
  {{ page.content_top }}
{% endif %}

{# Main Content Wrapper - responsive layout #}
<div class="container page-wrapper">
  
  {# CONTENT - 70% cu sidebar, 100% fără #}
  <main class="page-content">
    {% if page.content %}
      {{ page.content }}
    {% endif %}
  </main>

  {# SIDEBAR - doar dacă există #}
  {% if page.sidebar_second %}
    <aside class="sidebar-second">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

</div>

{% if page.content_bottom %}
  {{ page.content_bottom }}
{% endif %}

{% if page.homearticle %}
  <div class="home-article-region">
    {{ page.homearticle }}
  </div>
{% endif %}

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}